<footer class="container footer">
  <div class="nav-container">
    <a class="footer-logo" href="#">
      <svg
        class="footer-logo-svg"
        width="106"
        height="30"
        fill="none"
        aria-hidden="true"
      >
        <use href="../img/icon/logo.svg"></use>
      </svg>
    </a>
    <nav class="footer-nav">
      <a class="footer-nav-link" href="#">Artists</a>
      <a class="footer-nav-link" href="#">About us</a>
      <a class="footer-nav-link" href="#">Reviews</a>
    </nav>
  </div>
  <div class="footer-bottom">
    <p class="footer-copyright">&copy; 2025 ArtistsHub. All rights reserved.</p>
    <div class="footer-social-links">
      <a href="#" class="footer-link"
        ><svg class="social-link-svg">
          <use href="../img/icon/instagram.svg" width="40" height="40"></use>
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="social-link-svg">
          <use href="../img/icon/facebook.svg" width="40" height="40"></use>
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="social-link-svg">
          <use href="../img/icon/youtube.svg" width="40" height="40"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
